name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  tests:
    strategy:
      matrix:
        project: [ junit4, junit5, junit5-seljup, testng ]
        build-tool: [ mvn, gradle ]
        os: [ ubuntu-latest ]
        java: [ 17 ]
    runs-on: ${{ matrix.os }}
    env:
      DISPLAY: :99

    steps:
    - name: Checkout GitHub repo
      uses: actions/checkout@v2
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Start Xvfb on Linux
      if: matrix.os == 'ubuntu-latest'
      run: Xvfb $DISPLAY &
    - name: Run ${{ matrix.project }} tests with ${{ matrix.build-tool }}
      uses: nick-invision/retry@v2.7.1
      with:
        timeout_minutes: 30
        max_attempts: 3
        command: |
          cd selenium-webdriver-${{ matrix.project }}
          ${{ matrix.build-tool }} test
